<div>
  <button (click)="incr()">Inr</button>
  <app-comp *ngIf="onVisible" [num]="count" [myName]="user"></app-comp>
  <button (click)="dcr()">Dcr</button>
  <button (click)="updateName()">change name</button>
  <button (click)="switchVisibility()">Delete Comp</button>
</div>


<select [(ngModel)]="selectedValue">
  <option *ngFor="let item of items;" [value]="item.value"> {{item.name}}</option>
</select>

<div [ngSwitch]="selectedValue">
  <div *ngSwitchCase="1">
    1
  </div>
    <div *ngSwitchCase="2">
    2
  </div>
  <div *ngSwitchCase="3">
    3
  </div>
  
</div>